* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    max-width: 100%;
    height: 100vh;
    font-family: serif;
}


.main {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* STYLING THE FORM SECTION */
.form-section {
    background-color: #fff;
    padding:  10px 40px;
    border-radius: 10px;   
    max-width: 400px;
    height: 450px;
    width: 100%;
}
.go-back {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px;
}

.go-back a {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.go-back a i {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    color: #365f98;
}

.go-back p {
    margin: 0;
}

.form-title {
    margin-bottom: 10px;
    font-size: 24px;
    color: #495896;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.input-wrapper {
    margin-bottom: 20px;
}

label{
    color: #635c5c;
}

.input-div {
    position: relative;
    margin-top: 2px;
}

.input-div input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.input-div input:focus{
    border: 2px solid #000;
}

.input-div i {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    color: #1B1B1B;
}

.input-error {
    display:block;
    height:10px ;
    border-radius: 5px;
    padding:5px;
    color: #FF0800;
    font-size: 12px;
}

.submitBtn-container {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-statement {
    text-align: center;
    margin: 20px;
    font-size: 16px;
}

.login-statement a {
    color: #007bff;
    text-decoration: none;
}

.login-statement a:hover {
    text-decoration: underline;
}

/* RESPONSIVE DESIGN FOR MOBILE */
@media screen and (max-width: 768px) {
    .form-section {
        max-width: 325px;
        height: 700px;
        padding: 20px;
        border: none;
    }
    .go-back {
        font-size: 14px;
    }

    .go-back a i {
        left: -15px; /
    }

    .form-title {
        font-size: 30px;
        
    }

    .input-div input {
        font-size: 14px;
    }

    .input-wrapper{
        margin-bottom: 30px;
    }

    .submitBtn-container{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    input[type="submit"] {
        font-size: 16px;
    }

    .login-statement {
        font-size: 14px;
    }
}
