*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
   /*  background-color: #E5E7E6; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/backround.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.form-container{
   max-width: 400px;
    padding:30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.title{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase ;
    color:#0070BB;
    font-family: sans-serif;
    text-decoration: underline;
}

.input-field{
    margin-bottom:18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #555;
}

.input-field  input{
    border:none;
    outline: none;
    padding:10px 0 5px 10px;
    font-size: 16px;
    background: transparent;

}

.input-field .icon-container i {
    color:#333;
    font-size: 18px;
    margin-right: 16px;
}

input::placeholder{
    color:#888;
    font-size: 16px;
}

.btn-container{
    width: 100%;
    padding: 5px;
    text-align: center;
}

.btn-container input[type="submit"]{
    padding: 10px 80px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    color:#fff;
    border-radius: 8px;
    background-color: hsl(204, 100%, 37%);
    margin-bottom: 12px;
    cursor: pointer;
    box-shadow: 0 6px 4px gray;
}

.btn-container #login-btn{
    padding:10px 100px;
}

.btn-container input:hover{
    background-color: hsl(204, 100%, 30%);
}

.form-container p{
    text-align: center;
    font-size: 16px;
}

.form-container p a{
    text-decoration: none;
    color: #0070BB;
}

.form-container p a:hover{
    text-decoration: underline;
}
